body{
margin: 0;
padding: 0;
overflow: hidden;
}
li.friendlist {
border: 1px solid #aaa;
padding: 26px;
margin-bottom: 8px;
background: #eee;
width: 168px;
float: left;
margin-right: 9px;
transition: background-color 0.5s ease;
background-color: #eee;
height: 300px;
list-style: none!important;
}
div#profilePic img {
width: 150px;
border-radius: 50% 50%;
}
li.friendlist:hover {
transition: background-color 0.5s ease;
background-color: #ccc;
cursor: pointer;
}
button.btn {
position: fixed;
top: 40%;
left: 42%;
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: bold;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
color: #fff;
background-color: #428bca;
border-color: #357ebd;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
z-index: 2;
}
button.btn:hover{
background-color: #3276b1;
}
body{
/*background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRZzoo-aqlRUVWnjsbDzxz6C8s85lfa_z2lkqjpXkuJI6_bGJ9IWQ") repeat -190px 0px transparent;*/
background: #ccc;
background-size: cover;
height: 100%;
width: 100%;
white-space: nowrap;
position: relative;
left: 0;
-webkit-transition: left 0.3s ease-out;
transition: left 0.3s ease-out;
max-width: 1440px;
}
li.friendlist img {
float: left;
width: 176px;
}

div#test ul li span {
position: absolute;
display: inline-block;
width: 100%;
left: 0px;
text-align: center;
font-size: 22px;
bottom: 6px;
}
div#test ul li {
position: relative;
}
.lfloat {
float: left;
}
.width12{
	width: 12%;
}
.width85{
	width: 85%;
}
.rfloat {
float: right;
}
.clearfix{
	clear: both;
}
.profileDiv {
background: #fff;
text-align: center;
padding: 19px;
display: block;
position: relative;
border-radius: 10px;
display: none;
}
img.loading {
position: fixed;
left: 50%;
top: 50%;
margin-left: -16px;
margin-top: -16px;
z-index: 100;
border-radius: 50%;
}
.fade.in {
position: fixed;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.7);
z-index: 99;
}
#bg_image{
left: -8px;
top: -120px;
position: absolute;
width: 1614px;
height: 1009px;
z-index: 2;
}
#Rectangle1 {
left: -1px;
top: -1px;
position: fixed;
width: 1608px;
height: 74px;
z-index: 3;
}
#Chatfree {
left: 137px;
top: 20px;
position: absolute;
width: 123px;
height: 29px;
z-index: 4;
}
#RoundedRectangle1 {
left: 608px;
top: 162px;
position: absolute;
width: 384px;
height: 444px;
z-index: 6;
}
#facebooklogin {
left: 643px;
top: 398px;
position: absolute;
width: 316px;
height: 43px;
z-index: 7;
cursor: pointer;
}
#SignInwith {
left: 743px;
top: 334px;
position: absolute;
width: 115px;
height: 22px;
z-index: 8;
}
#tumblrlogo {
left: 703px;
top: 218px;
position: absolute;
width: 196px;
height: 51px;
z-index: 9;
}
#Chat {
left: 702px;
top: 256px;
position: absolute;
width: 78px;
height: 30px;
z-index: 10;
}
#free {
left: 786px;
top: 242px;
position: absolute;
width: 111px;
height: 44px;
z-index: 11;
}
div#wrapper {
position: relative;
z-index: 9999;
top: 95px;
}
div#RoundedRectangle1 img {
opacity: 0.7;
}
div#facebooklogin:hover {
opacity: 0.9;
}